body {
     font-family: georgia;
       margin: 0px auto;
     width: 45em;
     line-height: 125%;
}

#main, #bd {    
     margin: 1em;
}

#bd {
    margin-top: 1em;
    border: 1px solid;
    overflow: auto;
}

h1 {
   margin-top: 0;
   padding-top: 0;
   font-size: 210%;  
}

h2 {
   margin-left: 0.5em;
   margin-top: 0.5em;
   line-height: 125%;
   font-size: 125%;
}

#message, #about, #comment {
  padding: 0.5em;
  width: 38.5em;
  margin: 0.5em;
  border: 1px solid;
}

#options {

}


// navigation menu...

ul#nav { 
  width: 16.3em;
  float: right; 
  margin: 0; 
  padding: 0; 
  background-color: #039; 
}

ul#nav li { display: inline; }

ul#nav li a {
 padding: .25em 1em;
 background-color: #039;
 color: #fff;
 text-decoration: none;
 float: right;
 border-bottom: solid 1px #fff;
 border-top: solid 1px #fff;
 border-right: solid 1px #fff;
}

a:link, a:visited { color: #fff; }

ul#nav li a:hover {
 color: #000;
 background-color: #fff;
} 